
body {
    background-image: url("images/family_pics/galaxy.gif");
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    margin: 0;
}
/* banner */

.banner {
    background-image: url("images/xmas\ 1.jpg");
    background-size: cover;
    /* text-align: center; */
    width: 100%;
    height: 460px;
    /* object-fit: contain; */
    padding: 10px 0 40px 0;
    
  
 
}


/* font-face*/

@font-face {
    font-family: Corleone;
    src: url("Corleone.ttf");
}


#font-face{
    font-family: Corleone;
    font-size: 50px;
    font-weight: bold;
    /* top: 70%; */
    /* text-align: center; */
    padding: 10px 10px 10px 10px;
    width: 20%;
    /* margin: 20px auto; */
    color: red;
    background-color: aliceblue;

}

/* h2, h3{
    top: 40%;
} */

/* span names*/

#daddy {
    font-family: corleone;
    font-size: 40px;
    font-weight: lighter;
    color: #55a4cc;
}

#mama {
    font-family: corleone;
    font-size: 40px;
    font-weight: lighter;
    color: orangered;
}

#genesis {
    font-family: corleone;
    font-size: 40px;
    font-weight: lighter;
    color: blue;
}

#trinity {
    font-family: corleone;
    font-size: 40px;
    font-weight: lighter;
    color: pink;
}


#perfect {
    font-family: corleone;
    font-size: 40px;
    font-weight: lighter;
    color: plum;
}


/* container */
.container {
    display: flex;
    justify-content: center;
    width: 80%;
    height: 400px;
    padding: 10px;
    margin: 0 auto 5%;
    gap: 10%;
    background-color: antiquewhite;
    padding: 20px;
    border-bottom: 6px solid #d8cefe;
    border-radius: 5%;

}


/* family */

.family{
    
    width: 100%;
    height: 300px;
    /* margin-right: auto; */
    /* margin-left: auto; */
    /* margin: 20px auto; */
    border: 5px solid red;
    border-radius: 25px;
}

/* name */
.name{
    font-family: Monospace;
    color: black;
    border-radius: 5px;
    background-color: aliceblue;
    border: 2px solid black;
    padding: 15px;
    text-align: center;
    
}

p {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: white;
    font-family: monospace;
}


/* kids */
.kids {
    /* display: flex;  */
    /* justify-content: space-around; */
    background: lightgreen;
    width: 350px;
    height: 300px;
    /* margin-top: 50px;
    margin-left: auto;
    margin-right: auto; */
    /* margin: 50px auto; */
    padding: 30px;
    border: 8px solid red;
    border-radius: 30px;
    text-align: center;
}

.bobo {
    background-image: url("images/family_pics/bobo_galaxy.gif");
    color: azure;
}
.titi {
    background-image: url("images/family_pics/barbie_trinity.gif");
    color: azure;
}


.perfect {
    background-image: url("images/family_pics/barbie_perfect.gif");
}


/* .kids-info {
    display: flex;
} */

/* button */
button {
    color: #0f1419;
    border: 2px solid #55a4cc;
    border-radius: 20px;
    background: white;
    padding: 10px 20px 10px 20px;
    font-weight: bold;
    /* text-decoration: none; */
    margin-top: 8px;
}




/* input */
.input {
    margin: 10px 10px;
    display:flex;
    text-align: center;
    gap: 10px;
    /* justify-content: center; */
}




